body{
    background: #252525;
    overflow: hidden;
}
.main-cont{
    flex-wrap: nowrap;
}
.side-nav{
    height: 100vh;
    background-color: #181818;
    transition: all 0.8s ease;
    transform: translateX(-50%);
    opacity: 0;
}

.middle-form{
    height: 100vh;
    background-color: #252525;
    transition: all 0.8s ease;
    transform: translateX(-50%);
    opacity: 0;
    padding: 0;
}

.middle-form .topBar {
    height: 50px;
    background-color: #000000;
    width: 100%;
}

#profileImg{
    object-fit: cover;
    max-width: 3rem;
}

.login-form{
    padding: 20px;
    width: 40%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px black;
    transition: all 0.8s ease;
    transform: translateY(40%);
    opacity: 0;
}

#btnResp{
    color: red;
}

.tabs .tab{
    padding: 2em;
    height: 250px;
    box-shadow: 2px 2px 5px black;
    background-color: #181818;
    border-radius: 20px;
}

#tabProfImg{
    height: 200px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px black;
}


.inputField input{
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid white;
}
.inputField input:focus{
    background-color: transparent;
    color: white;
}


.btnMen{
    color: white;
    border-radius: 10px;
    font-size: 1.2em;
    margin-top: 1.2em;
    padding: 10px;
    width: 100%;
    box-shadow: 2px 2px 5px black;
    transition: all 0.4s ease;
}

.btnMen button {
    background: transparent;
    border: none;
    color: white;
    transition: all 0.4s ease;
    width: 100%;
}


.btnMen:hover{
    box-shadow: 2px 0px 2px black;
}

@media (max-width: 674px) {
    .login-form{
        width: 80%;
    }
}